@font-face {
  font-family: "robotoregular";
  src: url("../../font/roboto-regular-webfont.woff2") format("woff2"), url("../../font/roboto-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "interregular";
  src: url("../../font/inter-regular-webfont.woff2") format("woff2"), url("../../font/inter-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "interbold";
  src: url("../../font/inter-bold-webfont.woff2") format("woff2"), url("../../font/inter-bold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "interlight_beta";
  src: url("../../font/inter-light-beta-webfont.woff2") format("woff2"), url("../../font/inter-light-beta-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
html {
  font-size: 62.5%;
}

body {
  font-family: "interregular", "robotoregular", "sans-serif";
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100vw;
}

.fadein {
  animation: fadein 1000ms both;
}

.fadeout {
  animation: fadeout 1000ms both;
}

.main_container {
  height: 100%;
  width: 77%;
  margin: 0 auto;
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 8rem 1fr;
  grid-template-rows: 100%;
}

.testimonial_container {
  grid-row: 1/2;
  grid-column: 1/3;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  align-items: center;
  overflow: visible;
  z-index: 2;
}
.testimonial_container .quote {
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  flex-direction: column;
  font-size: 3.2rem;
  line-height: 4.3rem;
  color: #202046;
  opacity: 0;
}
.testimonial_container .quote .signature {
  display: flex;
}
.testimonial_container .quote .signature :nth-child(1) {
  font-family: "interbold";
  font-size: 2rem;
}
.testimonial_container .quote .signature :nth-child(2) {
  font-family: "interlight_beta";
  color: #babacf;
  font-size: 2rem;
  margin-left: 1.5%;
}

.img_slider_container {
  width: 100%;
  height: 100%;
  grid-row: 1/2;
  grid-column: 4/2;
  background: url("../../images/pattern-bg.svg") center center/contain no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_slider_container .img_container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-items: center;
  filter: drop-shadow(0 10px 10px rgba(0, 0, 0, 0.411));
}
.img_slider_container .img_container img {
  grid-row: 1/2;
  grid-column: 1/2;
  opacity: 0;
  display: block;
  margin: 0 auto;
}
.img_slider_container .img_container .slider_container {
  grid-row: 1/2;
  grid-column: 1/2;
  position: absolute;
  top: 515px;
  right: 400px;
  display: flex;
  align-items: center;
  z-index: 5;
}
.img_slider_container .img_container .slider_container button {
  width: 50px;
  height: 50px;
  border: none;
  outline: none;
  background-color: #fff;
  padding: 0;
  cursor: pointer;
  z-index: 10;
}
.img_slider_container .img_container .slider_container button img {
  opacity: 1;
}
.img_slider_container .img_container .slider_container #button_next {
  border-radius: 0 50px 50px 0;
}
.img_slider_container .img_container .slider_container #button_prev {
  border-radius: 50px 0 0 50px;
}

#pattern-quotes {
  position: fixed;
  top: 32%;
  left: 22%;
  z-index: -7;
}

@media all and (min-device-width: 1000px) {
  body {
    background: url("../../images/pattern-curve.svg") left bottom/50% no-repeat;
  }
}
@media all and (max-device-width: 1000px) {
  .main_container {
    width: 100%;
    grid-template-columns: 100%;
    grid-template-rows: 50% auto;
    background: url("../../images/pattern-curve.svg") left bottom/70% no-repeat;
  }

  .testimonial_container {
    grid-row: 2/3;
    grid-column: 1/2;
    justify-content: end;
    align-items: flex-end;
  }
  .testimonial_container .quote {
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    text-align: center;
    font-size: 2rem;
    line-height: 2.8rem;
    padding: 0 10%;
  }
  .testimonial_container .quote p {
    margin: 0;
  }
  .testimonial_container .quote .signature {
    flex-direction: column;
  }
  .testimonial_container .quote .signature :nth-child(1) {
    margin: 4rem 0 0 0;
  }
  .testimonial_container .quote .signature :nth-child(2) {
    margin-left: 0;
  }

  .img_slider_container {
    grid-row: 1/2;
    grid-column: 1/2;
    background: url("../../images/pattern-bg.svg") center center/contain no-repeat;
  }
  .img_slider_container .img_container img {
    max-width: 80%;
  }
  .img_slider_container .img_container .slider_container {
    position: absolute;
    right: 40%;
    top: 93%;
  }
  .img_slider_container .img_container .slider_container button {
    width: 50px;
    height: 50px;
    border: none;
    outline: none;
    background-color: #fff;
    padding: 0;
    cursor: pointer;
    z-index: 10;
  }
  .img_slider_container .img_container .slider_container button img {
    opacity: 1;
    margin: 0 auto;
  }
  .img_slider_container .img_container .slider_container #button_next {
    border-radius: 0 50px 50px 0;
  }
  .img_slider_container .img_container .slider_container #button_prev {
    border-radius: 50px 0 0 50px;
  }

  #pattern-quotes {
    position: absolute;
    left: 45%;
    top: 55%;
    width: 50px;
    z-index: -5;
  }
}
@media all and (max-device-width: 1000px) and (max-device-height: 800px) {
  .img_slider_container .img_container img {
    max-width: 60%;
  }
}
@media all and (max-device-width: 350px) and (max-device-height: 700px) {
  html {
    font-size: 50%;
  }

  .img_slider_container .img_container img {
    max-width: 60%;
  }
}